* {
 /* box-sizing: border-box;*/
 margin: 0;
 padding: 0;
 
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.grid-item {
  
  padding: 20px;
}



main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  padding: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.menu {
  background-color: #a62bc4;
  padding: 20px;
  
}

.content {
  
  padding: 20px;
}

.box {
  background-color: var(--celeste);
  border-color: var(--black-2);
  border-radius: 13px;
  box-shadow: 0px 6px 10px #a62bc4;
  padding: 20px;
  text-align: center;
  
}

.col-md-4{
  flex: 0 0 auto;
  width: 23.333333%;
}

.arrow-up {
  color: #a62bc4;
  font-size: 1.5rem;
}



.filter-button {
  margin-bottom: 20px;
}